<footer>
  <figure>
    <a href="{{ site.url }}/" title="{{ site.name }} | {{ site.strapline }}">
      <img src="{{ site.url }}/assets/gravatar-small.jpg" alt="{{ site.name }} | {{ site.strapline }}">
    </a>
  </figure>
  
  <h1>
    <a href="{{ site.url }}/" title="{{ site.name }}">Hello, it's Csongor</a>
  </h1>
  
  <h2>
    <a href="{{ site.url }}/" title="{{ site.strapline }}">{{ site.strapline }}</a>
  </h2>
  
  <form action="{{ site.url }}/contact">
     <input type="submit" value="Let's get started &rarr;">
  </form>
  
  <div id="contact">
    <a href="mailto:bartus.csongor@gmail.com" title="Contact">bartus.csongor @ gmail.com</a>, <a href="https://twitter.com/metamn" title="@metamn">@metamn</a>
  </div>
</footer>
