body {
  .container {
    width: 98%;
    margin: 0 auto;
    
    header {
      width: $minor;
      float: left;
      position: fixed;
    }
    
    nav {
      margin-left: $minor;
      width: $major;
      float: left;
      position: fixed;
    }
    
    #content {
      margin-left: $minor;
      width: $major;
      float: left;
      position: relative;
      top: $pad*3;
    }
    
    footer {
      
    }
    
  }
}






