body {
  .container {
    width: 98%;
    margin: 0 auto;
    
    header {
      width: $minor + $margin;
      float: left;
      position: fixed;
    }
    
    nav {
      margin-left: $minor + $margin;
      width: $major - $margin;
      float: left;
      position: fixed;
    }
    
    #content {
      margin-left: $minor + $margin;
      width: $major - $margin;
      float: left;
      position: relative;
      top: $pad*3;
    }
    
    footer {
      
    }
    
  }
}






