/* The color scheme
*/


$color: #363636;
$background: #f1f1f1;
$pink: #F3AAAA;






body {
  color: $color;
  background: $background;
  
  .container {
    a, a:active, a:visited {
      color: $color;
      text-decoration: none;
    }
    
    
    article {
      h1, blockquote, aside {
        @include large-fonts;
      }
      
      h2 {
        display: none;
      }
      
      table, ul, ol, aside {
        font-size: 1.5em;
      }
      
      ul {
        @include list;
      }
      
      figure {
        margin-bottom: $pad*4;
        
        figcaption {
          padding: $pad/2 0;
        }
      }
    }
    
    
    nav {
      background: url(/assets/background.png) $pink;
      margin: $pad*3 0;
      
      ul {
        @include list;
      }
    }
    
    
    ol {
      margin: 0;
      
      input, textarea {
        width: $minor;
          
        margin-bottom: $pad;
        padding: $pad/2;
      }
      
      input[type="submit"] {
        width: 10em;
      }
    }
    
    
    footer {
      font-family: 'Lato', sans-serif;
      
      aside {
        h1 {
          padding-bottom: 0;
        }
        
        h2 {
          padding-top: 0;
        }
        
        a.contact {
          border-bottom: 1px dotted;
        }
      }
      
      form {
        margin-top: $pad*2;
        
        input[type="submit"] {
          font-size: large;
          padding: $pad/2 $pad;
          
          background: $color;
          color: $background;
        }
      }
    }
  }
}



/* Highlight menu
*/
body.identity {
  .container {
    nav {
      li#identity {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.design {
  .container {
    nav {
      li#design {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.development {
  .container {
    nav {
      li#development {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.services {
  .container {
    nav {
      li#services {
        a {
          @include highlight;
        }
      }
    }
  }
}







