/* The color scheme
*/


$color: #C2C2C2;
$background: #363636;



/* All pages
*/

body {
  color: $color;
  background: $background;
  
  .container {
    a, a:active, a:visited {
      color: $color;
      text-decoration: none;
    }
    
    header {
      hgroup {
        figure, h1, h2, h3 {
          display: inline-block;
        }
        
        figure {
          max-width: $minor;
          float: left;
          
          img {
            max-width: 100%;
          }
        }
        
        h1, h2 {
          max-width: $major;
          float: left;
        }
      }
    }   
    
    nav {
      ul {
        @include list-inline;
      }
    }
    
    #content {
      
    }
    
    
    
  }
}




/* Startpage
*/

body.csongor-bartus {
  .container {
    nav {
      display: none;
    }
    
    #content {
      top: 0;
    }
  }
}





/* Highlighting active navigation item
*/

@mixin highlight {
  font-weight: bold;
  letter-spacing: 1px;
  padding: $pad/2;
  border: 1px outset;
}

body.flow {
  .container {
    nav {
      li#flow {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.skills {
  .container {
    nav {
      li#skills {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.writing {
  .container {
    nav {
      li#writing {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.design-and-development {
  .container {
    nav {
      li#design-and-development {
        a {
          @include highlight;
        }
      }
    }
  }
}







