{% include head.html %}
      
<header>
  <hgroup>
    <figure>
      <a href="/" title="{{ site.name }} | {{ site.strapline }}">
        <img src="/assets/gravatar-small.jpg" title="{{ site.name }} | {{ site.strapline }}">
      </a>
    </figure>
    <h1>
      <a href="/" title="{{ site.name }}">Hello, it's Csongor</a>
    </h1>
    <h2>
      <a href="/" title="{{ site.strapline }}">{{ site.strapline }}</a>
    </h2>
  </hgroup> 
  
  <a class="contact" href="mailto:bartus.csongor@gmail.com" title="Contact">bartus.csongor @ gmail.com</a>
</header>



<section id="content">
  {{ content }}
</section>

</div>
</body>
</html>

