{% include head.html %}
      
<header>
  <hgroup>
    <figure>
      <a href="/" title="{{ site.name }} | {{ site.strapline }}">
        <img src="/assets/gravatar-small.jpg" title="{{ site.name }} | {{ site.strapline }}">
      </a>
    </figure>
    <h1>
      <a href="/" title="{{ site.name }}">{{ site.name }}</a>
    </h1>
    <h2>
      <a href="/" title="{{ site.strapline }}">{{ site.strapline }}</a>
    </h2>
    <h3>
      <a href="/" title="{{ site.offer }}">{{ site.offer }}</a>
    </h3>
  </hgroup>
  
  <aside>
    From ${{ site.price }} / hour
  </aside>
  
  <a href="mailto:bartus.csongor@gmail.com" title="contact">bartus.csongor@gmail.com</a>
</header>


{% include nav.html %}

<section id="content">
  {{ content }}
</section>

</div>
</body>
</html>

